<div class="container mt-1">
  <div class="row">
    <div class="col-10">
      <h1><%= @list.name %></h1>
    </div>
    <div class="col-2 d-flex align-items-center">
      <%= link_to new_list_bookmark_path(@list) do %>
        <button class="btn btn-primary"><i class="fa-solid fa-plus"></i></button>
      <% end %>
    </div>
  </div>

  <div class="cards">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card-product d-flex justify-content-between">
        <img src="<%= bookmark.movie.poster_url %>"/>

        <div class="card-product-infos w-75">
          <h2><%= bookmark.movie.title %></h2>
          <p><%= bookmark.movie.rating %> / 10</p>
        </div>

        <div class="p-5">
          <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Do you really want to delete #{bookmark.movie.title}"}, class: "fs-3 text-danger" do %>
            <i class="fa-solid fa-circle-xmark"></i>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>

  <div class="row mt-2">
    <h3>Reviews</h3>
    <div class="reviews col-6">
      <% @list.reviews.each do |review| %>
      <div class="review">
          <i class="fa-solid fa-comment"></i>
          <div class="review-content">
            <p><%= review.comment %></p>
            <p>
            <% review.rating.times do %>
              <i class='fa-solid fa-star text-warning'></i>
            <% end %>
            </p>
            <p><%= distance_of_time_in_words_to_now(review.created_at) %></p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-6 border rounded h-25 p-2 bg-light bg-gradient">
      <div class="review-form">
        <%= simple_form_for [@list, @review] do |f| %>
          <%= f.input :comment %>
          <%= f.input :rating, collection: (1..5).to_a, label: "Rate this list", input_html: {data: {controller: "star-rating"}} %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
