<div class="container mt-1">
  <div class="row">
    <div class="col-10">
      <h1><%= @list.name %></h1>
    </div>
    <div class="col-2 d-flex align-items-center">
      <%= link_to new_list_bookmark_path(@list) do %>
        <button class="btn btn-primary"><i class="fa-solid fa-plus"></i></button>
      <% end %>
    </div>
  </div>

  <div class="cards">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card-product">
        <img src="<%= bookmark.movie.poster_url %>" />
        <div class="card-product-infos">
          <h2><%= bookmark.movie.title %></h2>
          <div class="d-flex">
            <p><%= bookmark.movie.rating %> / 10</p>
            <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Do you really want to delete #{bookmark.movie.title}"} %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<div class="row mt-2">
  <div class="reviews col-6">
    <h3>Reviews</h3>
    <% @list.reviews.each do |review| %>
    <div class="review">
        <i class="fa-solid fa-comment"></i>
        <div class="review-content">
          <p><%= review.comment %></p>
          <p>
          <% review.rating.times do %>
            <i class='fa-solid fa-star text-warning'></i>
          <% end %>
          </p>
          <p><%= review.created_at.hour %>:<%= review.created_at.min %> <%= "#{review.created_at.day}/#{review.created_at.month}/#{review.created_at.year}" %></p>
        </div>
      </div>
    <% end %>
  </div>

    <div class="col-6 bg-secondary bg-gradient p-1">
      <div class="review-form">
        <%= simple_form_for [@list, @review] do |f| %>
          <%= f.input :comment %>
          <%= f.input :rating, collection: (1..5).to_a, label: "Rate this list", input_html: {data: {controller: "star-rating"}} %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
</div>
  </div>
